In [1]:
import pandas as pd
import requests
import io

In [2]:
response = requests.get('''https://www.ncei.noaa.gov/access/services/data/v1?dataset=daily-summaries&dataTypes=WT03,PRCP,WT05,WT06,WT07,WT08,SNWD,WT09,WDF2,WDF5,PGTM,WT11,TMAX,WT13,WSF2,FMTM,WSF5,SNOW,WT16,WT17,WT18,WT19,AWND,WT01,WT02,TAVG,TMIN,WT10,WT101,WT102,WT16&stations=USW00012921&startDate=2008-12-03&endDate=2019-04-03&includeAttributes=false&format=csv''')
response

In [3]:
df = pd.read_csv(io.StringIO(response.text))
df

,STATION,DATE,AWND,FMTM,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,...,WT10,WT101,WT102,WT11,WT13,WT16,WT16.1,WT17,WT18,WT19
0,USW00012921,2008-12-03,42,2302.0,2315.0,0,0,0,NaN,250,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,USW00012921,2008-12-04,51,828.0,506.0,0,0,0,NaN,161,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00012921,2008-12-05,30,952.0,839.0,0,0,0,NaN,128,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USW00012921,2008-12-06,17,1157.0,1132.0,0,0,0,NaN,206,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00012921,2008-12-07,31,1557.0,1512.0,0,0,0,NaN,217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3769,USW00012921,2019-03-30,62,NaN,NaN,0,0,0,192.0,211,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3770,USW00012921,2019-03-31,49,NaN,NaN,0,0,0,110.0,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3771,USW00012921,2019-04-01,25,NaN,NaN,0,0,0,103.0,167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3772,USW00012921,2019-04-02,36,NaN,NaN,0,0,0,115.0,217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3773,USW00012921,2019-04-03,51,NaN,NaN,0,0,0,164.0,200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
dataset = 'dataset=daily-summaries'
features = 'dataTypes=WT03,PRCP,WT05,WT06,WT07,WT08,SNWD,WT09,WDF2,WDF5,PGTM,WT11,TMAX,WT13,WSF2,FMTM,WSF5,SNOW,WT16,WT17,WT18,WT19,AWND,WT01,WT02,TAVG,TMIN,WT10,WT101,WT102,WT16'
station = 'stations=USW00012921'
start_date = 'startDate=2008-12-03'
end_date = 'endDate=2019-04-03'
include_attributes = 'includeAttributes=false'
format_type = 'format=csv'

response = requests.get(f'''https://www.ncei.noaa.gov/access/services/data/v1?{dataset}&{features}&{station}&{start_date}&{end_date}&{include_attributes}&{format_type}''')

In [8]:
df = pd.read_csv(io.StringIO(response.text))
df

,STATION,DATE,AWND,FMTM,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,...,WT10,WT101,WT102,WT11,WT13,WT16,WT16.1,WT17,WT18,WT19
0,USW00012921,2008-12-03,42,2302.0,2315.0,0,0,0,NaN,250,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,USW00012921,2008-12-04,51,828.0,506.0,0,0,0,NaN,161,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00012921,2008-12-05,30,952.0,839.0,0,0,0,NaN,128,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USW00012921,2008-12-06,17,1157.0,1132.0,0,0,0,NaN,206,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00012921,2008-12-07,31,1557.0,1512.0,0,0,0,NaN,217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3769,USW00012921,2019-03-30,62,NaN,NaN,0,0,0,192.0,211,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3770,USW00012921,2019-03-31,49,NaN,NaN,0,0,0,110.0,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3771,USW00012921,2019-04-01,25,NaN,NaN,0,0,0,103.0,167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3772,USW00012921,2019-04-02,36,NaN,NaN,0,0,0,115.0,217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3773,USW00012921,2019-04-03,51,NaN,NaN,0,0,0,164.0,200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
def get_weather_data():
    '''
    Takes no arguments and returns a pd.DataFrame with weather data
    '''
    # Parameters for the query to the API
    dataset = 'dataset=daily-summaries'
    features = 'dataTypes=WT03,PRCP,WT05,WT06,WT07,WT08,SNWD,WT09,WDF2,WDF5,PGTM,WT11,TMAX,WT13,WSF2,FMTM,WSF5,SNOW,WT16,WT17,WT18,WT19,AWND,WT01,WT02,TAVG,TMIN,WT10,WT101,WT102,WT16'
    station = 'stations=USW00012921'
    start_date = 'startDate=2008-12-03'
    end_date = 'endDate=2019-04-03'
    include_attributes = 'includeAttributes=false'
    format_type = 'format=csv'
    
    # Request the data from NCEI API
    response = requests.get(f'''https://www.ncei.noaa.gov/access/services/data/v1?{dataset}&{features}&{station}&{start_date}&{end_date}&{include_attributes}&{format_type}''')
    
    # Read the csv data and return
    return pd.read_csv(io.StringIO(response.text))

In [12]:
df = get_weather_data()
df

,STATION,DATE,AWND,FMTM,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,...,WT10,WT101,WT102,WT11,WT13,WT16,WT16.1,WT17,WT18,WT19
0,USW00012921,2008-12-03,42,2302.0,2315.0,0,0,0,NaN,250,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,USW00012921,2008-12-04,51,828.0,506.0,0,0,0,NaN,161,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00012921,2008-12-05,30,952.0,839.0,0,0,0,NaN,128,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USW00012921,2008-12-06,17,1157.0,1132.0,0,0,0,NaN,206,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00012921,2008-12-07,31,1557.0,1512.0,0,0,0,NaN,217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3769,USW00012921,2019-03-30,62,NaN,NaN,0,0,0,192.0,211,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3770,USW00012921,2019-03-31,49,NaN,NaN,0,0,0,110.0,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3771,USW00012921,2019-04-01,25,NaN,NaN,0,0,0,103.0,167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3772,USW00012921,2019-04-02,36,NaN,NaN,0,0,0,115.0,217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3773,USW00012921,2019-04-03,51,NaN,NaN,0,0,0,164.0,200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN