In [1]:
import acquire

In [2]:
acquire.acquire_weather()

,STATION,DATE,AWND,FMTM,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,...,WT08,WT09,WT10,WT11,WT13,WT16,WT16.1,WT17,WT18,WT19
0,USW00012921,2008-12-03,42,2302.0,2315.0,0,0,0,NaN,250,...,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,USW00012921,2008-12-04,51,828.0,506.0,0,0,0,NaN,161,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00012921,2008-12-05,30,952.0,839.0,0,0,0,NaN,128,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USW00012921,2008-12-06,17,1157.0,1132.0,0,0,0,NaN,206,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00012921,2008-12-07,31,1557.0,1512.0,0,0,0,NaN,217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3769,USW00012921,2019-03-30,62,NaN,NaN,0,0,0,192.0,211,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3770,USW00012921,2019-03-31,49,NaN,NaN,0,0,0,110.0,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3771,USW00012921,2019-04-01,25,NaN,NaN,0,0,0,103.0,167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3772,USW00012921,2019-04-02,36,NaN,NaN,0,0,0,115.0,217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3773,USW00012921,2019-04-03,51,NaN,NaN,0,0,0,164.0,200,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN